*{
    box-sizing: border-box;
}
body {
    background: rgb(49, 48, 70);
    background: linear-gradient(90deg, rgb(53, 88, 94) 0%, rgb(148, 149, 150) 50%, rgb(192, 203, 206) 80%);
}

h1 {
    display: flex;
    justify-content: center;
    color: rgb(37, 42, 53);
    font-size: 35px;
    font-weight: 600;
}

#tableForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputId {
    font-size: 20px;
    border-radius: 5px;
}
button {
    font-size: 20px;
    border-radius: 5px;
}
.time-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 35px;
    font-weight: 600;
    color: rgb(37, 42, 53);
}